:root {
    --primary-color: black;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: royalblue;
    color: var(--accent2-color);
    padding: 1px;
}

.logo img {
    border-radius: 1rem;
    width: 120px;
    height: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    width: 1000px;
    height: auto;
    margin: 0 auto;
    align-content: center;

}

h2 {
    font-size: xx-large;
    font-weight: bold;
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin: 50px;
}

.nav a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-family: Arial, sans-serif;
}

nav,
p,
main {
    margin: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 equal columns */
    grid-template-rows: 1fr;
    /* 1 row */
    gap: 10px;
    /* space between columns (optional) */
}

.box {
    display: flex;
    justify-content: space-around;
}

figure {
    text-align: center;
}

img {
    width: 200px;
    border-radius: 1rem;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: black;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 1px;
    padding: 1px;
    background-color: royalblue;
    box-sizing: border-box;
    border-radius: 1rem;

}

form {
    width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkmagenta;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}