:root {
    --primary-color: black;
    --secondary-color: royalblue;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --text-align: center;
    --align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: var(--align-items);
    /* border: 2px solid black; */
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 15px 25px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    align-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: var(--align-items);
    margin-top: 30px;
    padding: 15px 25px;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border-radius: 1rem;
    color: white;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-align: var(--text-align);
    border: 30px;
}

h1 {
    position: absolute;
    top: 10px;
    width: 95%;
    padding: 10px;
    text-align: var(--text-align);
    color: #fff;
    border-radius: 1rem;
}

/* logo */
.logo img {
    width: 120px;
    border-radius: 1rem;
    height: auto;

}

/* navigation section */
.nav a {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-family: var(--body-font);
    font-weight: bold;
}

.nav a:hover {
    background-color: darkmagenta;
}

/* Hero Section */
.hero {
    position: relative;
    width: 840px;
    height: auto;
    align-content: center;
}

.hero img {
    display: block;
    width: 120%;
    height: auto;
    border-radius: 1rem;

}

.hero h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

}

.hero h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

.hero article {
    border: 1px solid black;
    border-radius: 10px;
    font-family: var(--body-font);
    font-weight: bold;
    position: absolute;
    bottom: 1px;
    width: 95%;
    text-align: left;
    background-color: #e9c46a;
    color: black;
}

.hero article img {
    float: right;
    top: 10px;
    width: 125px;
}

/* figure caption */
figcaption {
    margin-top: 10px;
    font-style: italic;
    color: black;
}

/* newsletter */
.newsletter form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    gap: 1rem;
    color: black;
    font-size: larger;
    font-weight: bold;
}

/* CTA */
.cta {
    text-align: center;
    padding: 2rem;
    /* background-color: var(--secondary-color); */
    color: black;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--accent2-color);
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkmagenta;
}

/* Grid Layout */
.grid {
    margin: 10px;
    justify-content: center;
    align-items: var(--align-items);
    display: flex;
    gap: 70px;
    font-size: x-large;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item {
    text-align: center;
    color: black;
}

/* social-media */
.social-media {
    text-decoration: none;
}