header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: royalblue;
    color: var(--accent2-color);
    padding: 1px;
}

.logo img {
    border-radius: 1rem;
    width: 120px;
    height: auto;

}

footer {
    display: flex;
    justify-content: space-around;
    margin: 1px;
    padding: 1px;
    background-color: royalblue;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 1px solid black;

}

.nav a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-family: Arial, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    width: 1000px;
    height: auto;
    margin: 0 auto;
    font-size: larger;
    align-content: center;

}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.trip img {
    width: 100%;
}

.cta {
    text-align: center;
    background: #e0f7fa;
    padding: 20px;
}

.btn {
    background: #0077b6;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

.social-media a {
    text-decoration: none;
}